
@model WebApp_HW_13.Models.Entity.Book

<form>
<div class="card">
  <h5 class="card-header">ویرایش کتاب @Model</h5>
  <div class="card-body">
   
    <div>
        <label for="ID" class="col-sm-2 col-form-label">شناسه کتاب</label>   
        <input type="text" class="form-control"  asp-for="ID" readonly="readonly">
    </div>
    <div>
 
        <label asp-for="BookName" class="col-sm-2 col-form-label"></label>  
        <input type="text" class="form-control" asp-for="BookName" >
    </div>
    <div>
         <label asp-for="Writer" class="col-sm-2 col-form-label"></label>  
         <input type="text" class="form-control" asp-for="Writer" >
    </div>
    <div>
         <label asp-for="CountPage" class="col-sm-2 col-form-label"></label>
         <input type="text" class="form-control"  asp-for="CountPage">
    </div>
    <div>  
        
        
         <input type="submit" class="btn btn-success" asp-controller="Libarary"asp-action="Edit" formmethod="post" value="ثبت"/>
         <a class="btn btn-primary" asp-area="" asp-controller="Libarary"asp-action="index">بازگشت به لیست</a>
    </div>
  </div>
</div>
</form>
